<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div th:replace="~{/components/header}"></div>

  <div class="container">
      <h1>Product Page</h1>
      <hr>
      <div class="grid grid-cols-3 gap-4">
          <div>
              <div th:replace="~{/components/card :: defaultCard('/img/logo.png', ${product.id}, ${product.category}, ${product.rate})}"></div>
          </div>
          <div>
              <div th:replace="~{/components/card :: defaultCard('/img/logo.png', ${product.id}, ${product.category}, ${product.rate})}"></div>
          </div>
          <div>
              <div th:replace="~{/components/card :: defaultCard('/img/logo.png', ${product.id}, ${product.category}, ${product.rate})}"></div>
          </div>
      </div>
  </div>

  <script src="/js/script.js"></script>

</body>
</html>